body {
  font-family: Arial;
}

form {
  position: relative;
}

.fill {
  left: 0;
  right: 0;
  width: 500px;
  height: auto;
  padding-bottom: 20px;
  border-style: solid;
  position: absolute;
  margin: auto;
  padding-left: 20px;
}

label,
input {
  margin-bottom: 10px;
}

label {
  min-width: 100px;
}

label {
  padding-right: 100px;
}

.list {
  padding-right: 156px;
}
